@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-container {
  @apply mx-auto w-[90%] max-w-[1250px];
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.nav-container {
  @apply mx-auto w-[90%] max-w-[1440px];
}

.bg-search {
  @apply bg-white/20 p-5 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur;
}

.home-search {
  all: unset;
  @apply w-full px-[15px] text-[15px] font-bold text-black max-md:h-[48px] max-xs:h-[30px];
}

.lawyer-search {
  all: unset;
  @apply flex-1 rounded-[5px] bg-white px-[15px];
}

.auth-input {
  all: unset;
  /* @apply  */
}
